<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.oa.dao.GzjlDao">

	<select id="get" resultType="com.bootdo.oa.domain.GzjlDO">
		select `id`,`jcxx_id`,`company_name`,`sdate`,`edate`,`desc`,`duty`,`create_by`,`create_time`,`update_by`,`update_time`  from jl_gzjl where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.oa.domain.GzjlDO">
		select t1.*,t2.name from
		jl_gzjl t1
		left join jl_jcxx t2 on t1.jcxx_id = t2.id
        <where>  
		  		  <if test="id != null and id != ''"> and t1.id = #{id} </if>
		  		  <if test="jcxxId != null and jcxxId != ''"> and t1.jcxx_id = #{jcxxId} </if>
		  		  <if test="companyName != null and companyName != ''"> and t1.company_name = #{companyName} </if>
		  		  <if test="sdate != null and sdate != ''"> and t1.sdate = #{sdate} </if>
		  		  <if test="edate != null and edate != ''"> and t1.edate = #{edate} </if>
		  		  <if test="desc != null and desc != ''"> and t1.desc = #{desc} </if>
		  		  <if test="duty != null and duty != ''"> and t1.duty = #{duty} </if>
			      <if test="name != null and name != ''"> and t2.name like CONCAT(CONCAT('%',#{name},'%')) </if>
			      <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			      <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			      <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
			      <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by t1.id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jl_gzjl
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="jcxxId != null and jcxxId != ''"> and jcxx_id = #{jcxxId} </if>
		  		  <if test="companyName != null and companyName != ''"> and company_name = #{companyName} </if>
		  		  <if test="sdate != null and sdate != ''"> and sdate = #{sdate} </if>
		  		  <if test="edate != null and edate != ''"> and edate = #{edate} </if>
		  		  <if test="desc != null and desc != ''"> and desc = #{desc} </if>
		  		  <if test="duty != null and duty != ''"> and duty = #{duty} </if>
			      <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			      <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			      <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
			      <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.oa.domain.GzjlDO">
		insert into jl_gzjl
		(
			`id`, 
			`jcxx_id`, 
			`company_name`, 
			`sdate`, 
			`edate`, 
			`desc`, 
			`duty`,
			`create_by`,
			`create_time`
		)
		values
		(
			#{id}, 
			#{jcxxId}, 
			#{companyName}, 
			#{sdate}, 
			#{edate}, 
			#{desc}, 
			#{duty},
			#{createBy},
			#{createTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.oa.domain.GzjlDO">
		update jl_gzjl 
		<set>
			<if test="jcxxId != null">`jcxx_id` = #{jcxxId}, </if>
			<if test="companyName != null">`company_name` = #{companyName}, </if>
			<if test="sdate != null">`sdate` = #{sdate}, </if>
			<if test="edate != null">`edate` = #{edate}, </if>
			<if test="desc != null">`desc` = #{desc}, </if>
			<if test="duty != null">`duty` = #{duty},</if>
			<if test="updateBy != null">`update_by` = #{updateBy},</if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from jl_gzjl where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jl_gzjl where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<delete id="deleteByJcxxId">
		delete from jl_gzjl where jcxx_id = #{value}
	</delete>

	<select id="getByJcxxId" resultType="com.bootdo.oa.domain.GzjlDO">
		select `id`,`jcxx_id`,`company_name`,`sdate`,`edate`,`desc`,`duty`,`create_by`,`create_time`,`update_by`,`update_time` from jl_gzjl
		where jcxx_id = #{value}
		order by
			sdate asc
	</select>

</mapper>