<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.oa.dao.WbRlppDao">

	<select id="get" resultType="com.bootdo.oa.domain.WbRlppDO">
		select t1.*,t2.item_name
		from xm_wb_rlpp left join jl_project t2 on t1.project_id = t2.id
		where t1.id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.oa.domain.WbRlppDO">
		select t1.*,t2.item_name
		from xm_wb_rlpp t1 left join jl_project t2 on t1.project_id = t2.id
        <where>  
		  		  <if test="id != null and id != ''"> and t1.id = #{id} </if>
		  		  <if test="projectId != null and projectId != ''"> and t1.project_id = #{projectId} </if>
		  		  <if test="compact != null and compact != ''"> and t1.compact = #{compact} </if>
		  		  <if test="endDate != null and endDate != ''"> and t1.end_date = #{endDate} </if>
		  		  <if test="date != null and date != ''"> and t1.date = #{date} </if>
		  		  <if test="count != null and count != ''"> and t1.count = #{count} </if>
		  		  <if test="userId != null and userId != ''"> and t1.user_id = #{userId} </if>
		  		  <if test="monthSum != null and monthSum != ''"> and t1.month_sum = #{monthSum} </if>
			      <if test="itemName != null and itemName != ''"> and t2.item_name = #{itemName} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by t1.id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from xm_wb_rlpp
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="projectId != null and projectId != ''"> and project_id = #{projectId} </if>
		  		  <if test="compact != null and compact != ''"> and compact = #{compact} </if>
		  		  <if test="endDate != null and endDate != ''"> and end_date = #{endDate} </if>
		  		  <if test="date != null and date != ''"> and date = #{date} </if>
		  		  <if test="count != null and count != ''"> and count = #{count} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="monthSum != null and monthSum != ''"> and month_sum = #{monthSum} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.oa.domain.WbRlppDO" useGeneratedKeys="true" keyProperty="id">
		insert into xm_wb_rlpp
		(
			`project_id`, 
			`compact`, 
			`end_date`, 
			`date`, 
			`count`, 
			`user_id`, 
			`month_sum`
		)
		values
		(
			#{projectId}, 
			#{compact}, 
			#{endDate}, 
			#{date}, 
			#{count}, 
			#{userId}, 
			#{monthSum}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.oa.domain.WbRlppDO">
		update xm_wb_rlpp 
		<set>
			<if test="projectId != null">`project_id` = #{projectId}, </if>
			<if test="compact != null">`compact` = #{compact}, </if>
			<if test="endDate != null">`end_date` = #{endDate}, </if>
			<if test="date != null">`date` = #{date}, </if>
			<if test="count != null">`count` = #{count}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="monthSum != null">`month_sum` = #{monthSum}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from xm_wb_rlpp where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from xm_wb_rlpp where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="getMaxCountByProjectId" parameterType="int" resultType="com.bootdo.oa.domain.WbRlppDO">
		select `id`,`project_id`,`compact`,`end_date`,`date`,`count`,`user_id`,`month_sum`
		from xm_wb_rlpp
		where
		project_id = #{value}
		order by
			`count` DESC
		limit 1
	</select>

</mapper>