<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.oa.dao.XmjlDao">

	<select id="get" resultType="com.bootdo.oa.domain.XmjlDO">
		select `id`,`jcxx_id`,`item_seq`,`item_name`,`is_jh_item`,`frame`,`is_zngj_item`,`is_nozngj_item`,`item_type`,`sdate`,`edate`,`item_role`,`witness`,`witness_phone`,`desc`,`duty`,`skill` from jl_xmjl where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.oa.domain.XmjlDO">
		select t1.*,t2.name from
		jl_xmjl t1
		left join jl_jcxx t2 on t1.jcxx_id = t2.id
        <where>  
		  		  <if test="id != null and id != ''"> and t1.id = #{id} </if>
		  		  <if test="jcxxId != null and jcxxId != ''"> and t1.jcxx_id = #{jcxxId} </if>
		  		  <if test="itemSeq != null and itemSeq != ''"> and t1.item_seq = #{itemSeq} </if>
		  		  <if test="itemName != null and itemName != ''"> and t1.item_name = #{itemName} </if>
		  		  <if test="isJhItem != null and isJhItem != ''"> and t1.is_jh_item = #{isJhItem} </if>
		  		  <if test="frame != null and frame != ''"> and t1.frame = #{frame} </if>
		  		  <if test="isZngjItem != null and isZngjItem != ''"> and t1.is_zngj_item = #{isZngjItem} </if>
		  		  <if test="isNozngjItem != null and isNozngjItem != ''"> and t1.is_nozngj_item = #{isNozngjItem} </if>
		  		  <if test="itemType != null and itemType != ''"> and t1.item_type = #{itemType} </if>
		  		  <if test="sdate != null and sdate != ''"> and t1.sdate = #{sdate} </if>
		  		  <if test="edate != null and edate != ''"> and t1.edate = #{edate} </if>
		  		  <if test="itemRole != null and itemRole != ''"> and t1.item_role = #{itemRole} </if>
		  		  <if test="witness != null and witness != ''"> and t1.witness = #{witness} </if>
		  		  <if test="witnessPhone != null and witnessPhone != ''"> and t1.witness_phone = #{witnessPhone} </if>
		  		  <if test="desc != null and desc != ''"> and t1.desc = #{desc} </if>
		  		  <if test="duty != null and duty != ''"> and t1.duty = #{duty} </if>
		  		  <if test="skill != null and skill != ''"> and t1.skill = #{skill} </if>
                  <if test="name != null and name != ''"> and t2.name like CONCAT(CONCAT('%',#{name},'%')) </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by t1.jcxx_id desc,t1.item_seq asc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jl_xmjl
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="jcxxId != null and jcxxId != ''"> and jcxx_id = #{jcxxId} </if>
		  		  <if test="itemSeq != null and itemSeq != ''"> and item_seq = #{itemSeq} </if>
		  		  <if test="itemName != null and itemName != ''"> and item_name = #{itemName} </if>
		  		  <if test="isJhItem != null and isJhItem != ''"> and is_jh_item = #{isJhItem} </if>
		  		  <if test="frame != null and frame != ''"> and frame = #{frame} </if>
		  		  <if test="isZngjItem != null and isZngjItem != ''"> and is_zngj_item = #{isZngjItem} </if>
		  		  <if test="isNozngjItem != null and isNozngjItem != ''"> and is_nozngj_item = #{isNozngjItem} </if>
		  		  <if test="itemType != null and itemType != ''"> and item_type = #{itemType} </if>
		  		  <if test="sdate != null and sdate != ''"> and sdate = #{sdate} </if>
		  		  <if test="edate != null and edate != ''"> and edate = #{edate} </if>
		  		  <if test="itemRole != null and itemRole != ''"> and item_role = #{itemRole} </if>
		  		  <if test="witness != null and witness != ''"> and witness = #{witness} </if>
		  		  <if test="witnessPhone != null and witnessPhone != ''"> and witness_phone = #{witnessPhone} </if>
		  		  <if test="desc != null and desc != ''"> and desc = #{desc} </if>
		  		  <if test="duty != null and duty != ''"> and duty = #{duty} </if>
		  		  <if test="skill != null and skill != ''"> and skill = #{skill} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.oa.domain.XmjlDO">
		insert into jl_xmjl
		(
			`id`, 
			`jcxx_id`, 
			`item_seq`, 
			`item_name`, 
			`is_jh_item`, 
			`frame`, 
			`is_zngj_item`, 
			`is_nozngj_item`, 
			`item_type`, 
			`sdate`, 
			`edate`, 
			`item_role`, 
			`witness`, 
			`witness_phone`, 
			`desc`, 
			`duty`, 
			`skill`
		)
		values
		(
			#{id}, 
			#{jcxxId}, 
			#{itemSeq}, 
			#{itemName}, 
			#{isJhItem}, 
			#{frame}, 
			#{isZngjItem}, 
			#{isNozngjItem}, 
			#{itemType}, 
			#{sdate}, 
			#{edate}, 
			#{itemRole}, 
			#{witness}, 
			#{witnessPhone}, 
			#{desc}, 
			#{duty}, 
			#{skill}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.oa.domain.XmjlDO">
		update jl_xmjl 
		<set>
			<if test="jcxxId != null">`jcxx_id` = #{jcxxId}, </if>
			<if test="itemSeq != null">`item_seq` = #{itemSeq}, </if>
			<if test="itemName != null">`item_name` = #{itemName}, </if>
			<if test="isJhItem != null">`is_jh_item` = #{isJhItem}, </if>
			<if test="frame != null">`frame` = #{frame}, </if>
			<if test="isZngjItem != null">`is_zngj_item` = #{isZngjItem}, </if>
			<if test="isNozngjItem != null">`is_nozngj_item` = #{isNozngjItem}, </if>
			<if test="itemType != null">`item_type` = #{itemType}, </if>
			<if test="sdate != null">`sdate` = #{sdate}, </if>
			<if test="edate != null">`edate` = #{edate}, </if>
			<if test="itemRole != null">`item_role` = #{itemRole}, </if>
			<if test="witness != null">`witness` = #{witness}, </if>
			<if test="witnessPhone != null">`witness_phone` = #{witnessPhone}, </if>
			<if test="desc != null">`desc` = #{desc}, </if>
			<if test="duty != null">`duty` = #{duty}, </if>
			<if test="skill != null">`skill` = #{skill}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from jl_xmjl where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jl_xmjl where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<delete id="deleteByJcxxId">
		delete from jl_xmjl where jcxx_id = #{value}
	</delete>

	<select id="getByJcxxId" resultType="com.bootdo.oa.domain.XmjlDO">
		select `id`,`jcxx_id`,`item_seq`,`item_name`,`is_jh_item`,`frame`,`is_zngj_item`,`is_nozngj_item`,`item_type`,`sdate`,`edate`,`item_role`,`witness`,`witness_phone`,`desc`,`duty`,`skill`
		from jl_xmjl
		where jcxx_id = #{value}
		order by
			sdate asc
	</select>

</mapper>