<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button shiro:hasPermission="oa:overtime:add" type="button" class="btn  btn-primary"
                                onclick="add()">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加
                        </button>
                        <button shiro:hasPermission="oa:overtime:batchRemove" type="button" class="btn  btn-danger"
                                onclick="batchRemove()">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                        <form enctype="multipart/form-data" id="batchUpload" action=" " method="post"
                              style="display: inline-block;vertical-align: middle;">
                            <button shiro:hasPermission="oa:overtime:importExcel" id="uploadEventBtn" type="button"
                                    class="btn  btn-success">
                                <i class="fa fa-folder-open" aria-hidden="true"></i>导入excle
                            </button>
                            <input type="file" name="file" style="width:0px;height:0px;" id="uploadEventFile">
                            <input id="uploadEventPath" disabled="disabled" type="hidden" placeholder="请择excel表"
                                   style="border: 1px solid #e6e6e6; height: 26px;width: 200px;"/>
                        </form>
                    </div>


                    <div class="columns pull-right">
                        <button class="btn btn-success" onclick="reLoad()">查询</button>
                        <button class="btn btn-success" onclick="exportExcle()">导出</button>
                    </div>
                    <div class="columns pull-right col-md-2 nopadding">
                        <input id="searchName" type="text" class="form-control"
                               placeholder="请输入员工姓名">
                    </div>
                    <div class="columns pull-right" style="width: 150px;">
                        <label for="status" style="display: inline-block;padding: 2px 10px;">状态:</label>
                        <select id="status" style="height: 30px;">
                            <option></option>
                            <option value="0">加班</option>
                            <option value="1">外勤</option>
                            <option value="2">正常</option>
                        </select>
                    </div>
                    <div class="columns pull-right" style="width: 220px;">
                        <label for="status" style="display: inline-block;padding: 2px 10px;">打卡时间:</label>
                        <input id="date" type="date" style="height: 30px;">
                    </div>
                    <div class="columns pull-right" style="width: 200px;">
                        <label for="dept" style="display: inline-block;padding: 2px 10px;">部门:</label>
                        <select id="dept" runat="server" style="height: 30px;"></select>
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="oa:overtime:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="oa:overtime:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="oa:overtime:resetPwd">
    <script type="text/javascript">
        var s_resetPwd_h = '';
    </script>
</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/oa/overtime/overtime.js"></script>
<script type="text/javascript">
    var User = function () {
        this.init = function () {
            //模拟上传excel
            $("#uploadEventBtn").unbind("click").bind("click", function () {
                $("#uploadEventFile").click();
            });
            $("#uploadEventFile").bind("change", function () {
                $("#uploadEventPath").attr("value", $("#uploadEventFile").val());
                uploadBtn();
            });
        };

        //点击上传钮
        function uploadBtn() {
            var uploadEventFile = $("#uploadEventFile").val();
            if (uploadEventFile == '') {
                alert("请择excel,再上传");
            } else if (uploadEventFile.lastIndexOf(".xls") < 0) {//可判断以.xls和.xlsx结尾的excel
                alert("只能上传Excel文件");
            } else {
                var url = prefix + "/importExcel";
                var formData = new FormData($('form')[0]);
                console.log(formData);
                user.sendAjaxRequest(url, "POST", formData);
            }
        };
        this.sendAjaxRequest = function (url, type, data) {
            $.ajax({
                url: url,
                type: type,
                data: data,
                dataType: "json",
                success: function (result) {
                    alert(result.msg);
                    reLoad();
                },
                error: function (result) {
                    alert(result.msg);
                },
                cache: false,
                contentType: false,
                processData: false
            });
        };
    };
   function getAllDept() {
        $.ajax({
            url: prefix + "/getAllDept",
            dataType: "json",
            success: function (result) {
                var select = $("#dept");
                select.append("<option value=''>请选择</option>");
                for (var i = 0; i < result.length; i++) {
                    AppendNode(result[i]);   //将value和text添加到下拉框中
                }
            }
    })
   }
   function AppendNode(value) {
       $("#dept").append("<option value='" + value + "'>" + value + "</option>");
   }

    var user;
    $(function () {
        user = new User();
        user.init();
        getAllDept();
    });

    function exportExcle() {
        var tishi = layer.load(1, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
        });
        var date = $('#date').val();
        //console.log("date:"+date);
        var	deptName =  $('#dept').val();
        //console.log("deptName:"+deptName);
        if(date == null || date == '' || deptName == null || deptName == ''){
            //alert("请选择时间和部门");
            layer.msg("请选择时间和部门");
            return;
        }
        var url = prefix + '/exportOvertime?date='+date+'&deptName='+deptName;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);    // 也可以使用POST方式，根据接口
        xhr.responseType = "blob";  // 返回类型blob
        // 定义请求完成的处理函数，请求前也可以增加加载框/禁用下载按钮逻辑

        xhr.onload = function () {
            let data = this.response;
           // console.log(this);
            if (this.response.type === 'application/json') {
                var reader = new FileReader();
                reader.readAsText(data, 'utf-8');
                reader.onload = function (e) {
                    var r = e.target.result;
                    if (!isEmpty(r)){
                        layer.msg(r);
                    }
                }
            }else{
                // 请求完成
                if (this.readyState == 4 && this.status == 200) {
                    // 返回200
                    var blob = this.response;
                    var reader = new FileReader();
                    reader.readAsDataURL(blob);  // 转换为base64，可以直接放入a表情href
                    reader.onload = function (e) {
                        // 转换完成，创建一个a标签用于下载
                        var a = document.createElement('a');
                        a.download = '加班考勤数据.xlsx';
                        a.href = e.target.result;
                        $("body").append(a);  // 修复firefox中无法触发click
                        a.click();
                        $(a).remove();
                    }
                }
            }
            layer.close(tishi);
        };
        // 发送ajax请求
        xhr.send()

    }

    //判断字符是否为空的方法
    function isEmpty(obj){
        if(typeof obj == "undefined" || obj == null || obj == ""){
            return true;
        }else{
            return false;
        }
    }
</script>
</body>
</html>