<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="oa:jcxx:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="oa:jcxx:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
							<form enctype="multipart/form-data" id="batchUpload" action="/jcxx/importExcel" method="post" style="display: inline-block;vertical-align: middle;">
								<button shiro:hasPermission="oa:jcxx:importExcel" id="uploadEventBtn" type="button" class="btn  btn-success">
									<i class="fa fa-folder-open" aria-hidden="true"></i>导入excle
								</button>
								<input type="file" name="file"  style="width:0px;height:0px;" id="uploadEventFile">
								<input id="uploadEventPath"  disabled="disabled"  type="hidden" placeholder="请择excel表" style="border: 1px solid #e6e6e6; height: 26px;width: 200px;" />
							</form>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="searchName" type="text" class="form-control"
								placeholder="输入姓名">
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_exportJcxx_h = 'hidden';
				var s_filesUpload_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="oa:jcxx:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="oa:jcxx:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="oa:jcxx:exportJcxx">
			<script type="text/javascript">
				var s_exportJcxx_h = '';
			</script>
		</div>
		<div shiro:hasPermission="oa:fj:filesUpload">
			<script type="text/javascript">
				var s_filesUpload_h = '';
			</script>
		</div>
	</div>


	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/oa/jcxx/jcxx.js"></script>
	<script type="text/javascript">
		var User = function() {
			this.init = function() {
				//模拟上传excel
				$("#uploadEventBtn").unbind("click").bind("click", function() {
					$("#uploadEventFile").click();
				});
				$("#uploadEventFile").bind("change", function() {
					$("#uploadEventPath").attr("value",    $("#uploadEventFile").val());
					uploadBtn();
				});
			};
			//点击上传钮
			function uploadBtn() {
				var uploadEventFile = $("#uploadEventFile").val();
				if (uploadEventFile == '') {
					alert("请择excel,再上传");
				} else if (uploadEventFile.lastIndexOf(".xls") < 0) {//可判断以.xls和.xlsx结尾的excel
					alert("只能上传Excel文件");
				} else {
					var url = "jcxx/importExcel";
					var formData = new FormData($('form')[0]);
					console.log(formData);
					user.sendAjaxRequest(url, "POST", formData);
				}
			};
			this.sendAjaxRequest = function(url, type, data) {
				$.ajax({
					url : url,
					type : type,
					data : data,
					dataType : "json",
					success : function(result) {
						alert(result.msg);
						reLoad();
					},
					error : function(result) {
						alert(result.msg);
					},
					cache : false,
					contentType : false,
					processData : false
				});
			};
		};
		var user;
		$(function() {
			user = new User();
			user.init();
		});



	</script>
</body>
</html>